body {
  background-color: #ffebcd;
  font-family: "Roboto", "Open Sans", sans-serif;
  margin: 0;
  padding-right: 10px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #d1772a;
}

ul.topnav li.right {
  float: right;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

section {
  padding-left: 5%;
}

.left-align {
  padding-left: 5%;
  text-align: left;
}

.center-align {
  padding-left: 5%;
  text-align: center;
}

h1 {
  padding-left: 5%;
  padding-top: 30px;
}

a.link-icon:link {
  text-decoration: none;
}

a.link-icon:visited {
  text-decoration: none;
}

a.link-icon:hover {
  text-decoration: none;
}

a.link-icon:active {
  text-decoration: none;
}

img.image-icon {
  width: 32px;
  height: 32px;
  padding: 1px 1px 1px 1px;
  margin: 3px 3px 3px 3px;
}

img.image-icon:hover {
  width: 34px;
  height: 34px;
  padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
  aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: none;
  }
  img.experiences {
    width: 80%;
  }
  div.experiences {
    padding-left: 10%;
    width: 80%;
    aspect-ratio: 16/9;
  }
  iframe.experiences {
    width: 100%;
    height: 100%;
  }
}
